<form hx-put="/needs/{{ item.id }}" hx-ext="submitjson" hx-swap="outerHTML" hx-trigger="change" class="needs-form"
    id="need-{{ item.id }}">

    <div class="value-input">
        <label>value</label>
        <input type="range" orient="vertical" min="0" max="100" id="value" name="value" type="number"
            value="{{item.value}}" step="1" />
    </div>
    <div class="title-input">
        <label>title</label>
        <input id="title" name="title" type="text" value="{{item.title}}" />
    </div>
    <div>
        <div class="mt-5">
            <button class="text-xs py-3 px-6 rounded-lg bg-red-600 text-white"
                onclick="confirmDelete(event, '/needs/{{ item.id }}', '{{ item.id }}' )">Delete</button>
        </div>
    </div>
</form>