<h1>Login Page</h1>

<div id="login-form">
    <input id="username" name="username" value="user@loco.rs" />
    <input id="password" name="pasword" value="12341234" />
    <button id="login-button" onclick="login()">Login</button>
</div>

<a href="/needs/list" hx-ext="submitjson" hx-boost="true" id="next">
    List Needs
</a>

<script>
    function login() {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        const data = JSON.stringify({
            'email': username,
            'password': password
        });

        let xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.open('POST', '/api/auth/login');
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function () {
            console.log(xhr.response);
            let response = JSON.parse(xhr.response);

            if (!response || !response.token) {
                console.error("Login failed");
                return;
            }

            let user_apikey = response.token;
            window.localStorage.setItem("USER_APIKEY", user_apikey);

            htmx.addClass(htmx.find('#next'), 'loggedIn');
            document.getElementById('next').click();
        };

        xhr.send(data);
    }
</script>