{% extends "base_html.html" %}

{% block title %}
Create need
{% endblock title %}

{% block page_title %}
Create new need
{% endblock page_title %}

{% block content %}
<form action="/needs" method="post" class="needs-form">

    <div class="value-input">
        <label>value</label>
        <input type="range" orient="vertical" min="0" max="100" id="value" name="value" type="number" value="50"
            step="1" />
    </div>
    <div class="title-input">
        <label>title</label>
        <input id="title" name="title" type="text" value="" />
    </div>
    <button type="submit">Submit</button>
</form>
<br />
<a href="/needs">Back to needs</a>
{% endblock content %}

{% block js %}

{% endblock js %}