body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    flex-grow: 1;
}

nav {

    background: #f1d8fb;
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
    margin-right: 10px;
}

nav a {
    display: block;
    color: #55114f;
    border: 1px solid #791a71;
    text-decoration: none;
    padding: 10px;
    margin-right: -1px;
}

nav a:hover {
    background-color: #f3e7f8;
    color: #791a71;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/***** Sliders ******/
input[type=range] {
    direction: rtl;
    appearance: slider-vertical;
    accent-color: green;
    overflow: hidden;
    width: 129px;
    height: 20px;
    appearance: none;
    background-color: yellow;
    margin: auto;
    display: block;
    border-radius: 15px;
    transform: rotate(90deg);
    transform-origin: 8% 50%;

}

input[type="range"]::-webkit-slider-runnable-track {
    background: red;
}

input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ns-resize;
    background: #791a71;
    box-shadow: 0px -30px 40px 60px #ffcc00, 60px -30px 0 60px #06ff3c;
}

input[type='range']::-webkit-slider-thumb:hover {
    background: #de75d5;
}

.value-input {
    width: 20px;
    height: 129px;
}

/***** Other input ******/
.delete-button {
    position: absolute;
    top: -7px;
    right: 10px;
    font-size: 30px;
    background: transparent;
    border: none;
    color: #791a71;
    text-decoration: none;
}

.delete-button:hover {
    color: #de75d5;
}

.needs-form>* {
    margin: auto;
    display: block;
}

.needs-form {
    display: block;
    position: relative;
    margin: 20px auto;
    width: fit-content;
}

.needs-list input[type="text"] {
    border-color: #791a71;
    color: #55114f;
    background-color: #f1d8fb;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}

.needs-list input[type="text"]:hover,
.needs-list input[type="text"]:focus {
    background-color: #f3e7f8;
    color: #791a71;
}

/***** List Item ******/

.needs-cell {
    display: flex;
}

.needs-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
}

.new-need-button {
    display: block;
    margin: 20px auto;
    background: transparent;
    border: 1px dashed #de75d5;
    padding: 10px;
    font-size: 100px;
    color: #791a71;
    height: calc(100% - 40px);
    aspect-ratio: 5 / 6;
    line-height: 75px;
}

.new-need-button:hover {
    color: #de75d5;
    cursor: pointer;
}

label {
    display: none;
}

#next {
    display: none;
}

#next.loggedIn {
    display: inline;
}

@media (min-width:450px) {

    /* anything larger than a phone in portrait mode */
    nav {
        flex-direction: column;
        margin-bottom: 0px;
    }

    nav a {
        margin-bottom: -1px;
        margin-right: 0;
    }

    .content {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .needs-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .new-need-button {
        flex-grow: initial;
    }
}